@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css");

.underline {
    text-decoration: underline;
}

.light-font-weight {
    font-weight: 300;
}

.nav-link {
    text-decoration: none !important;
}

.link {
    text-decoration: none;
    color: #292b2c;
}

.link:hover {
    color: #292b2c;
}

/* If the screen is bootstrap "small" or smaller */
@media only screen and (max-width: 768px) {
    #login-image-col {
        display: none !important;
    }
}

@media only screen and (max-width: 991px) {
    #signup-image-col {
        display: none !important;
    }
}

.recipe-tile-link {
    color: #212529;
    text-decoration: none;
}

.recipe-tile-link:hover {
    color: #212529;
    text-decoration: underline #198754;
}

a {
    color:#198754;
}

a:hover {
    color:#198754;
    filter: brightness(85%);
}

#recipe-tile-star-area {
    display: inline;
}

#recipe-tile-star-counter {
    display: inline;
}

#recipe-tile-star {
    position: relative;
    bottom: 3px;
    left: 4px;
}

#recipe-page-like-button {
    border: 0;
    background: transparent;
}

#recipe-page-like-counter {
    display: inline;
}

#recipe-page-like-image {
    position: relative;
    bottom: 5px;
}